main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.abelha{
    background-color:aquamarine;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: gray;
}

.abelha::placeholder{
    color: gray;
}