
nav {
   
    background: linear-gradient(to right, #c33764 , #1d2671);
    flex-wrap: wrap;
    animation: color 10s ease-in-out infinite;
    background-size: 300% 300%;
    
  }
  ul{
    display: flex;
    justify-content: center;
    column-gap: 140px;
    flex-wrap: wrap;
  }
  .button {
    text-decoration: none;
    font-size: 35px;
    font-family: "Poetsen One", sans-serif;
    color: rgb(75, 14, 75);
    border-radius: 10px;
    
  }

  .button:hover{
    color: rgb(37, 35, 35);
    
  }
  @media only screen and  (max-width:770px){
    ul{
      column-gap: 50px;
    }
  }
  @keyframes color {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
   
     100%{
        background-position: 0 50%;
     }

}