#resumo{
    margin: 50px;
    padding: 80px;
    background-color: #837E7E;
    border-radius: 30px;
}
#academico{
    margin: 50px;
    padding: 80px;
    background-color: #837E7E;
    border-radius: 30px;
}
#profissional{
    margin: 50px;
    padding: 80px;
    background-color: #837E7E;
    border-radius: 30px;
}
h2{
    text-align: left;
    font-family:  "Poetsen One", sans-serif;
}
.p{
    text-align: left;
}